.md-moderado-theme md-select.dark-bg:not([disabled]):focus ._md-select-value {
  color: #000;
}

md-select.dark-bg:not([disabled]):focus ._md-select-value {
  color: #fff;
}

.active {
  background: rgba(158,158,158,0.2);
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: #BDBDBD;
  border: 2px solid rgba(0,0,0,0);
  border-radius: 8px;

  &:hover {
    background-color: color('grey', 'base');
  }
}

.side-nav.fixed::-webkit-scrollbar-track {
  margin-top: 64px;
}

.md-avatar.nao_classificado {
  background-color: #03A9F4;
}
.md-avatar.moderado {
  background-color: #FFC107;
}
.md-avatar.alto {
  background-color: #FF5722;
}
.md-avatar.muito_alto {
  background-color: #B71C1C;
}