.md-moderado-theme md-select.dark-bg:not([disabled]):focus ._md-select-value {
  color: #000;
}

md-select.dark-bg:not([disabled]):focus ._md-select-value {
  color: #fff;
}

.active {
  background: rgba(158,158,158,0.2);
}
